.DS_Store
LA/Baseline-LFCC-GMM/python/lfcc.h5
LA/Baseline-LFCC-GMM/python/__pycache__/gmm.cpython-37.pyc
LA/Baseline-LFCC-GMM/python/__pycache__/LFCC_pipeline.cpython-37.pyc
LA/Baseline-LFCC-GMM/python/gmm_LA_lfcc.pkl_bonafide_init_partial.pkl
